.my_menu{
	position: fixed;
	top: 5%;
	left: 50%;
}
.top{
	position: relative;
}
.my_menu ul{
	list-style: none;
	margin: 0;
	}
.my_menu li{
	margin-right: 5px;
	float: left;
	border: 1px solid black;
	padding: 10px;
}
.my_menu a{
	text-decoration: none;
	color: #fff;
}
.menu_color{
	background-color:blue;
}
