<html>
<head>
<title>Assistudy</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no, maximum-scale=1.0, minimum-scale=1.0"/>
<link rel="shortcut icon" type="image/x-icon" href="/static/icon/imac2.png">
<link type="text/css" href="/static/bootstrap.css" rel="stylesheet">
<link type="text/css" href="/static/my.css" rel="stylesheet">
<script type="text/javascript" src="/static/myjq.js"></script>
</head>

<body>
<div class="top">
	<img src="/static/image/main.jpg">	
	<div class="my_menu">
		<ul>
			<a href="#"><li>HOME</li></a>
			<a href="#"><li>ABOUT</li></a>
			<a href="#"><li>MEMBER</li></a>
			<a href="#"><li>SERVICE</li></a>
			<a href="#"><li>CONTACT</li></a>
		</ul>
	</div>
</body>
</html>
